<div class="single-list">
  <ul class="list-items add-new-list">
    <form id="new-board" class="list-form">
      <input
        class="list-form-input"
        type="text"
        name="board[title]"
        placeholder="Create New Board">

      <button class="add list-button"><i class="material-icons">add</i></button>
    </form>
  </ul>
</div>
