/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require_tree .
 */

// @import "bootstrap-sprockets";
// @import "bootstrap";
// @import "font-awesome";

html, body, div, h1, ul, li, button {
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;

  text-decoration: inherit;
  text-align: inherit;
  font: inherit;
  color: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

html, body, .backdrop, #main {
  height: 100%;
}

input, input:active, input:focus, button:focus {
  outline: 0;
  box-shadow: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

body{
  background: #0079BF
}

body .board-index {
  background: #fff;
  height: 100%;

}

ul {
  list-style: none;
  color: #4d4d4d
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 20px;
  color: #fff;
}

.lists h4 {
  margin: 0 0 0 20px;
  position: relative;
  top: 10px;
}

.lists {
  font-weight: 700;
  position: relative;
  max-width: 1250px;
}

.board-list {
  margin: 0 auto;
}

.single-list {
  float: left
}

.single-list > ul {
  width: 250px;
  margin: 20px 20px;
  font-weight: 400;
  border: 5px solid #E2E4E6;
  border-radius: 3px;
  background: #E2E4E6;
  cursor: pointer;
}

.single-list p {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding: 5px 0px;
  margin: 0 5px;
  position: relative;
}

.list-form {
  position: relative;
}

.list-button {
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;

  position: absolute;
  top: 6px;
  right: 4px;
}

p > .delete {
  top: 3px;
}

.list-button.add {
  top: 3px;
  right: 5px;
}

.list-items > .card {
  padding: 10px 5px;
  margin: 5px;
  font-size: 14px;
  border: 1px solid #E2E4E6;
  position: relative;
  background: #fff;
  border-radius: 5px;
}

input {
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
}

.deletable {
  position: relative;
}

#new-card {
  padding: 5px 0 5px 5px;
}

.new-card-input {
  width: 180px;
}

.list-form-input {
    width: 200px;
}

.card:hover {
  background: #EDEFF0;
}

h4 .header-icon {
  position: relative;
  top: 7px;
  margin: 0 5px 10px;
}

h4 .material-icons.md-24 { font-size: 28px; }
h4 .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
h4 .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
