/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

html, body, div, h1, ul, li {
  border: 0;
  padding: 0;
  margin: 0;

  text-decoration: inherit;
  text-align: inherit;
  font: inherit;
  color: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: Roboto, sans-serif;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

ul {
  list-style: none;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 20px;
  color: #4d4d4d
}

.lists {
  font-weight: 700;
  color: #4d4d4d;
  position: relative;
}

.lists-wrapper {
  float: left;
}

.single-list {
  float: left
}

.single-list > ul {
  width: 210px;
  margin: 20px 20px;
  font-weight: 400;
  border: 5px solid #337ab7;
  border-radius: 10px;
  background: cornflowerblue;
  overflow: hidden;
  cursor: pointer;
}

.single-list p {
  display: block;
  width: 100%;
  font-weight: 400;
  text-align: center;
  padding: 10px 0px;
  margin: 0;
  color: #fff;
}

.single_list {
  display: inline-block;
}

.list-form {
  position: relative;
}

.list-button {
  padding: 5px 5px;
  cursor: pointer;
  border-radius: 50%;
  font-weight: 700;
  font-size: 10px;
  width: 24px;
  float: right;
  overflow: hidden;
  position: absolute;
  top: 10%;
  right: 2px;
}

.list-button.add {
  background: #fff;
  color: #000;
  font-size: 10px;
}

.list-button.delete {
  background: red;
  color: #fff;
  position: absolute;
  top: 6px;
  right: 6px;
}

.list-items {
  background: #fff;
}

.list-items > .card {
  padding: 10px 5px;
  font-size: 14px;
  border-top: 2px solid #337ab7;
  position: relative;
}

input {
  padding: 5px;
  border-radius: 5px;
}

.deletable {
  position: relative;
}

.add-new-list {
  padding: 3px 0px 3px 3px;
}

#new-card {
  padding: 5px 5px;
}
