<li class="list-item" id="new-card">
  <form id="new-card-form" class="list-form" data-id=<%= id %>>
  <input
    type="text"
    name="card[title]"
    placeholder="Add New Card"
    class="form-input">

    <button class="add list-button">+</button>
  </form>
</li>
