<li class="card" id="new-card">
  <form id="new-card-form" class="list-form" data-id=<%= list.id %>>
  <input
    type="text"
    name="card[title]"
    placeholder="Add New Card"
    class="new-card-input">

  <input
    type="hidden"
    name="card[ord]"
    value=<%= list.cards().length + 1 %>>

    <button class="add list-button">+</button>
  </form>
</li>
