<nav class="navbar navbar-default group" role="navigation">
  <div class="navbar-left">
    <a class="nav-bar-boards nav-accent-blue" href="#"><i class="material-icons board-icon">border_all</i><strong class="board-icon-text">Boards</strong></a>
  </div>

  <div class="navbar-right">
    <ul class="navbar-right-items">
    <% if signed_in? %>
      <li><%= button_to "Sign out", session_url, method: :delete, class: "btn btn-primary navbar-btn" %></li>
    <% else %>
      <li><%= link_to "Log in", new_session_url %></li>
      <li><%= link_to "Sign up", new_user_url %></li>
    <% end %>
    </ul>
  </div>
</nav>

<% if flash[:errors] %>
<div class="alert alert-warning alert-dismissible" role="alert">
   <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<%= flash[:errors].join("<br>").html_safe %>
</div>
<% end %>
